@mixin flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-sb-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin case-shadow{
    box-shadow: 2px 4px 8px 3px #e4e4e7;
    border-radius: 20px;
}
@mixin button-pos{    
        margin:0 auto 55px auto;        
        width:250px;
        height:50px;
        background: $black;
        background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        border-radius: 50px;
        box-shadow:0px 3px 8px #808080;    
}
@mixin button-val{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
}
@mixin font-size-titre{
    font-size:.8em;
}
@mixin tablet {
    @media (min-width: $breakpoint-small) { @content;}
}
@mixin desktop {
    @media (min-width: $breakpoint-medium) { @content;}
}