$Logo:'Shrikhand';
$Text:'Roboto';
$Primaire:#9356DC;
$Secondaire:#FF79DA;
$Tertiaire:#99E2D0;
$white:#fff;
$grey:#f6f6f6;
$black:#000;
$tblack:#101010;
$shadow:#393939;
$f-s-titre:17px;
$f-s-sous-titre:13px;
$f-s-titre-tablet:13px;
$f-s-sous-titre-tablet:10px;
$f-s-titre-desktop:18px;
$f-s-sous-titre-desktop:16px;
$f-s-titre-category:20px;
$f-s-titre-category-tablet:17px;
$f-s-titre-category-desktop:25px;
$breakpoint-small:800px;
$breakpoint-medium:1024px;
$breakpoint-large:1600px;