.footer{
    background-color: #353535;
    color:$white;    
    padding-left:20px;    
    & .fas{
        padding-left:0;
        padding-right:10px;
        font-size:15px;
    }
    & h5{
        font-size: 20px; 
        font-family: 'Shrikhand'; 
        padding-top:25px;
        padding-bottom: 25px;
        font-weight: 200;     
    }
    & ul{
        padding-bottom: 20px;
    }
    & li{
        padding-bottom: 10px;
        color:$white;
        & a{
            color:$white;
        }
        & span{
            padding-right: 5px;
        }
    } 
    @include tablet {
        padding:0;
        font-size: $f-s-titre-tablet;
        font-family: $Text;
        
        text-align: center;
    } 
    @include desktop {
        font-size: $f-s-titre-desktop;
    }
}