body{
    background-color: $grey;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
        
}
*{
margin:0;
padding:0;
box-sizing:content-box;
list-style-type: none;
font-family: "Roboto",sans-serif;
text-decoration: none;
}