.anim{
    &__container {
        @include flex-center;
        background: $Tertiaire;
        position: absolute;
        box-shadow: 2px 4px 8px 3px #e4e4e7;
        border-radius: 0 20px 20px 0;
        height: 100%;
        width: 50px;        
        right:-50px;
        top:0px;
        opacity: 0;
        /*transform-origin: right;
        transform: scaleX(0);*/
        transition: opacity 2000ms , transform 800ms 200ms linear;
    }
    &__circle {
        background: $white;
        position: absolute;
        top:  32%;
        left: 16px;
        border-radius: 50%;
        width: 20px;
        height: 20px;        
    }    
    &__icon {
        width:15px;
        color:$Tertiaire;
        font-size: 15px;
        padding:2px;
        transform-origin: 150% 50%;
        .fas{                
            transition:transform 800ms 200ms ease-in-out ;
        }           
    }
} 