.fonctionnement{
    padding:40px 20px;
    background-color:$white;
    @include tablet {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:0;       
        & h4{
            font-size: 20px;
        }        
        &__item  .choix h3 .fas {
            padding-left: 30px;
            margin:0px 10px;
        }        
        &__item .choix h3{            
            font-size:20px;
        }
        &__item .icon_numero{
            bottom: 4em;
        }  
    }
    @include tablet {
        display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }
    & h4{
        text-align: left;
        font-size:20px;
        @include tablet{
            font-size: $f-s-titre-category-tablet;
        }
        @include desktop {
            margin:auto 0;
            font-size:$f-s-titre-category-desktop;
        }
    }
    &__item{        
        position: relative;     
        & h2{
            text-transform: uppercase;
            padding-left: 20px ;
            font-size:20px;
        }        
        & .choix {  
            display: flex;
            justify-content:flex-start;
            align-items: center;
            padding: 20px 20px;
            background-color: $grey;
            @include case-shadow;            
            margin:20px 0;    
            cursor: pointer;
            & .fas{
                padding-left: 20px;
                padding-right: 15px;
                font-size: 20px;
            }  
            &:hover > .fas{
                color:$Primaire; 
            }
            &:hover    {
                background-color:#9256dc62 ;                
            }
            & h3{                
                font-weight:100 ; 
                text-align: center;
                font-size:$f-s-titre;  
                @include tablet{
                    font-size: $f-s-titre-tablet;
                }  
                @include desktop{
                    font-size:$f-s-titre-desktop ;
                }        
            }            
        }  
        & .icon_numero {
            position: absolute;
            bottom:2.03em;
            left:-1em;
            z-index: 1;
            border-radius: 50%; 
            width: 25px; 
            height: 25px; 
            padding:8px;
            background: $Primaire;     
            color: $white; 
            vertical-align: middle;
            text-align: center;
            font: 10px Arial, sans-serif; 
            @include tablet{
                top:40px
            }
            @include desktop {
                bottom: 4em;
            }
        } 
    }   
}
