.presentation{
    text-align: center;
    padding: 20px 0 10px 0; 
    background-color: $grey;      
    & h2{
        padding: 20px 0px;
        font-size:$f-s-titre;
        text-align: center;
        @include tablet {
            font-size: $f-s-titre-tablet;
        }
        @include desktop{
            font-size: $f-s-titre-desktop;
        }
    }
    & h3{
        padding:0 10px 35px 10px;
        font-size: $f-s-sous-titre;
        font-weight: 200;
        @include tablet {
            font-size: $f-s-sous-titre-tablet;
            padding-bottom: 20px;
        }
        @include desktop{
            font-size:$f-s-sous-titre-desktop;
        }
    }
    &__button{ 
               
        & .btn{
            margin:0 auto 30px auto;
            @include button-pos;
            vertical-align: middle;
            line-height: 50px;
            color:$white;
            text-align: center;
            width:250px;
            & p{
                padding: 0 10px;
                font-size: $f-s-titre;
                @include tablet{
                    font-size: $f-s-titre-tablet;
                }
                @include desktop{
                    font-size:$f-s-titre-desktop;
                }
            }
        }
    }
}    