.restaurant{
    display: flex;
    flex-direction: column;
    
    background-color:$grey ;    
    padding-bottom:  30px ;     
    @include tablet {
        width:99%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 
    &__bloc{
        width:33%;
    }       
        &__title{
            
            & h1{           
            text-transform: uppercase;
            font-family:'shrikhand', sans-serif;
            font-size: 20px;
            margin-left: 15px;
            }       
        }
        &__bloc-part{    
            width:100%;    
            box-sizing: border-box;        
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            opacity: 1;
            transform: translateY(0);  
            margin: 0 15px;   
        @include tablet {
            margin:0 5px;
        }          
        & h2{padding-top: 20px;
            font-size: 15px;
            text-align:left
        }
        & span{
            font-family: sans-serif;
            text-transform: uppercase;
            font-weight: 100;
        }
        & .part-list {
            display: flex;
            justify-content: space-between;
            position:relative;
            background: $white;
            width: 30vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include case-shadow;
            margin-bottom: 20px;            
            padding: 5px 0px 8px 15px;
            line-height: 20px;  
            @include tablet {
            font-size: 25px;            
            }           
                &:hover {
                    cursor: pointer;   
                    & .select{
                        width:80% ;
                        transition: width 800ms  ease-in-out;
                    }                 
                    & .price{
                        transform: translateX(-70px);                        
                    }
                    & .anim__container{
                        opacity: 1;
                        transform: translateX(-50px);   
                        transition:transform 1000ms ease-in-out;                     
                    }                  
                    & .fas{
                        transform: rotate(360deg);
                    }
                }            
                & .select{ 
                        width:100%;
                        transition: width 1000ms  ease-in-out;
                    & h3{                        
                        margin-top: 5px;
                        overflow:hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-size:13px;
                        @include tablet {
                            font-size:17px;   
                        }
                    }
                    & p{
                        font-size: 13px;
                        padding-bottom: 5px;
                        overflow:hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        @include tablet {
                            font-size: 15px;
                        }
                        @include tablet {
                            font-size: 11px;
                        }
                        span {
                            padding-right:  5px;
                        }
                        &  .price{
                            position: absolute;
                            right: 10px;               
                            transform-origin: right;
                            font-weight: bold; 
                            transition:transform 1000ms 200ms ease-in-out ;    
                                                    
                        }
                    }
            }    
        }    
    } 
}