.restaurant{
    display: flex;
    flex-direction: column;    
    background-color:$grey ;  
    padding:0 10px 30px 10px;          
    @include tablet {
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } 
    &__bloc{
        width:100%;
        @include tablet{
            width:32%;            
        }        
        &__title{                           
            & h2{
                position:relative;
                padding-top: 20px;                
                font-size: 15px;
                text-align:left;
                margin-bottom: 10px;
                @include desktop{
                    font-size: $f-s-titre-desktop;
                }
                &::after{
                    content:"";
                    position: absolute;
                    z-index:15;
                    left:0;                    
                    bottom:-22px;
                    height:3px;
                    width:40px;
                    background:  $Tertiaire;
                    margin:5px 0 15px 0;   
                    @include desktop{
                        width:50px;
                    }   
                }
                & span{
                font-family: sans-serif;
                text-transform: uppercase;
                font-weight: 100;
                }
            }          
        }
        & .restaurant__bloc-part{    
            width:100%;              
            box-sizing: border-box;        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transform: translateY(0);          
            & .part-list {
                position: relative;
                padding: 10px;;
                background: $white;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                @include case-shadow;                
                display: flex;
                justify-content: space-between; 
                padding: 15px;
                margin:10px 0;
                line-height: 20px;  
                &:hover {
                    cursor: pointer;
                    & .part-list__complement{
                        width:50%;
                        transition: 900ms 200ms ease-in-out; 
                    }   
                    & .price{
                        transform: translateX(-70px);  
                        transition: 900ms 200ms ease-in-out;                      
                    }
                    & .anim__container{
                        opacity: 1;
                        transform: translateX(-50px);   
                        transition: 900ms 200ms ease-in-out;                     
                    }                  
                    & .fas{
                        transform: rotate(360deg);
                    }
                } 
                &__complement{ 
                    width:90%; 
                    transition: 900ms 200ms ease-in-out;  
                    & h3{font-family: $Text;
                        font-weight: bold;
                        font-size: $f-s-titre;
                        overflow:hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        @include tablet{
                            font-size: $f-s-titre-tablet;
                        }
                        @include desktop{
                            font-size: $f-s-titre-desktop;
                        }
                    }                 
                    & p{
                        font-family: $Text;
                        font-weight: 100;
                        font-size: $f-s-sous-titre;
                        padding-right: 20px;                    
                        overflow:hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        @include tablet {
                            font-size: $f-s-sous-titre-tablet;  
                            padding:0;                      
                            } 
                        @include desktop{
                            font-size: $f-s-sous-titre-desktop;
                        }                       
                    }                     
                } 
                & .price{
                    font-size: $f-s-sous-titre;
                    padding-top:20px;
                    margin-right:  5px; 
                    transform: translateX(0);
                    transition: 900ms 200ms ease-in-out;
                    @include tablet{
                        font-size:$f-s-sous-titre-tablet;
                    }
                    @include desktop{
                        font-size: $f-s-sous-titre-desktop;
                    }
                }   
            } 
        } 
    }      
}